@import 'common';

body {
  margin: 0 auto;
  width: 350px;
}

.row.content {
  margin-bottom: 10px;
}

form .row {
  margin-bottom: 0;
}

.input-switch {
  margin-top: 10px;
  margin-bottom: 10px;
}
