@import 'common';

body {
  margin: 0 auto;
  width: 350px;
}

.row.content {
  margin-bottom: 10px;
}

form .row {
  margin-bottom: 0;
}

.input-switch {
  margin-top: 10px;
  margin-bottom: 10px;
}

.progress {
  margin: 0;
}

.message {
  .message-letter {
    animation-iteration-count: infinite;
    animation-name: from-black-to-green, disappear;
    animation-duration: 1.75s, 1.75s;
    animation-direction: normal, normal;
    animation-fill-mode: forwards, forwards;
  }

  @for $n from (35)*-1 through -1 {
    span:nth-child(#{abs($n)}) {
      animation-delay: $n * 0.05s + 1.75s, abs($n) * 0.05s + 1.75s
    }
  }

  @keyframes from-black-to-green {
    0% {
      color: #333;
    }
    100% {
      color: #00b894;
    }
  }

  @keyframes from-green-to-black {
    0% {
      color: #00b894;
    }
    100% {
      color: #333;
    }
  }

  @keyframes disappear {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}

.brand-logo-align {
  margin-left: 10px;
  left: 0 !important;
  transform: none !important;
}

nav {
  .fas {
    line-height: 56px;
    display: block;
  }
}

.popup-transition {
  margin-right: 10px;
  cursor: pointer;
}
