<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
</head>
<body>
  <div id="splash">
    <div class="splash-spinner"></div>
    <div class="splash-section splash-left"></div>
    <div class="splash-section splash-right"></div>
  </div>
  <div id="app">
    <nav>
      <div class="container nav-wrapper">
        <a href="#" class="brand-logo">Options</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li v-on:click="close"><a href="#"><i class="material-icons">close</i></a></li>
        </ul>
      </div>
    </nav>
    <div class="container margin-top-20">
      <div class="z-depth-1 grey lighten-4 row">
        <div>
          <ul class="tabs">
            <li v-on:click="errors = []" class="tab col s6"><a href="#common"><span class="material-fa-icons"><i class="fas fa-sliders-h"></i></span> Common</a></li>
            <li v-on:click="errors = []" class="tab col s6"><a href="#firebase"><span class="material-fa-icons"><i class="fas fa-fire"></i></span> Firebase</a></li>
          </ul>
        </div>
        <div class="col s12 margin-top-10 form-errors">
          <div v-if="errors.length">
            <strong class="red-text">Please correct the following errors</strong>
            <ul class="margin-left-10 margin-top-0 margin-bottom-0">
              <li v-for="error in errors">{{ error }}</li>
            </ul>
          </div>
        </div>
        <div id="common">
          <form action="#" @submit="commonForm" class="col s12">
            <div class="row margin-top-10">
              <div class="input-field col s5">
                <div class="file-field input-field">
                  <i class="material-icons prefix">notifications_active</i>
                  <div class="btn file-field-icon">
                    <input type="file" v-on:change="setIcon($event, 'icon_ok')"
                      accept="image/x-png,image/gif,image/jpeg">
                  </div>
                  <div class="file-path-wrapper">
                    <input class="file-path validate" type="text" placeholder="Icon OK">
                  </div>
                </div>
              </div>
              <div class="input-field icon-preview col s1">
                <img :src="common.icon_ok"/>
              </div>
              <div class="input-field col s5">
                <div class="file-field input-field">
                  <i class="material-icons prefix">warning</i>
                  <div class="btn file-field-icon">
                    <input type="file" v-on:change="setIcon($event, 'icon_warning')"
                      accept="image/x-png,image/gif,image/jpeg">
                  </div>
                  <div class="file-path-wrapper">
                    <input class="file-path validate" type="text" placeholder="Icon Warning">
                  </div>
                </div>
              </div>
              <div class="input-field icon-preview col s1">
                <img :src="common.icon_warning"/>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <center>
                  <button type='submit' name='save_firebase' v-bind:class="{ disabled: isSaving }" class='btn btn-large waves-effect indigo'><i v-show="isSaving" class="fas fa-cog fa-spin left"></i>Save</button>
                </center>
              </div>
            </div>
          </form>
        </div>
        <div id="firebase">
          <form action="#" @submit="firebaseForm" class="col s12">
            <div class="row margin-top-10">
              <div class="input-field col s6">
                <i class="material-icons prefix">vpn_key</i>
                <input id="api_key" v-model="firebase.apiKey" placeholder="Input Firebase Api Key" type="text" class="validate">
                <label for="api_key">Firebase Api Key</label>
              </div>
              <div class="input-field col s6">
                <i class="material-icons prefix">domain</i>
                <input id="auth_domain" v-model="firebase.authDomain" placeholder="Input Firebase Auth Domain" type="text" class="validate">
                <label for="auth_domain">Firebase Auth Domain</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s6">
                <span class="material-fa-icons prefix"><i class="fas fa-database"></i></span>
                <!-- <i class="material-icons prefix">domain</i> -->
                <input id="database_url" v-model="firebase.databaseURL" placeholder="Input Firebase Database Url" type="text" class="validate">
                <label for="database_url">Firebase Database URL</label>
              </div>
              <div class="input-field col s6">
                <i class="material-icons prefix">local_drink</i>
                <input id="storage_bucket" v-model="firebase.storageBucket" placeholder="Input Firebase Storage Bucket" type="text" class="validate">
                <label for="storage_bucket">Firebase Storage Bucket</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <center>
                  <button type='submit' name='save_firebase' v-bind:class="{ disabled: isSaving }" class='btn btn-large waves-effect indigo'><i v-show="isSaving" class="fas fa-cog fa-spin left"></i>Save</button>
                </center>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
